:root {
  --cards_nh: 2;
  --cardHeight_nh: 75vh;
  --cardTopPadding_nh: 0.5em;
  --cardMargin_nh: 1vw;
}

.container_nh {
  width: 90%;
  margin: 0 auto;
}

#cards_nh {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards_nh), var(--cardHeight_nh));
  gap: var(--cardMargin_nh);
  padding-bottom: calc(var(--cards_nh) * var(--cardTopPadding_nh));
  margin-bottom: var(--cardMargin_nh);
}

#card1_nh {
  --index: 1;
}
#card2_nh {
  --index: 2;
}
#card3_nh {
  --index: 3;
}

.card_nh {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding_nh));
}

.card_body_nh {
  box-sizing: border-box;
  /* border-radius: 50px; */
  height: var(--cardHeight_nh);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background-color: #0c0c0c;
  border: none;
  margin: 50px 0;
}

.card_div1_nh {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.card_div1_nh1 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.h2 {
  font-size: 3.5em;
}
.fluid-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.hero-button {
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom, #e848e5, #5218fa);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease, color 0.3s ease;
  width: 300px;
}
.hero-button:hover {
  background: linear-gradient(to bottom, #5218fa, #e848e5);
  color: #fff;
}
.res-cog {
  font-size: 10rem;
}
@media (max-width: 768px) {
  .res-cog {
    font-size: 6rem;
  }
  .hero-button {
    width: 250px;
  }
}
