.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploadSection {
  margin-bottom: 20px;
}
.mainContent {
  display: flex;
  width: 100%;
}
.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid purple;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.displaySection {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* Upoload File Button */
.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: linear-gradient(45deg, #e848e5, #5218fa);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed purple;
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background: linear-gradient(45deg, #e848e5, #5218fa);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

/* btns */

.func {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: black;
  padding: 5px;
  border-radius: 30px;
  justify-content: space-between;
}

.func-button {
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.5s ease, transform 0.5s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.func-button:hover {
  transform: translateY(-5px);
}

.func-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
