.Nav__Main {
  background: #0c0c0c;
  color: white;
  /* border-bottom: solid 1px black; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.Nav__Med {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.Nav__Links {
  display: flex;
  gap: 30px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.Nav__btn {
  margin-top: 17px;
  border-radius: 30px;
}
.Nav__btn__Link {
  text-decoration: none;
  color: white;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
}
.Nav__Menu__Content {
  font-weight: 500;
  font-size: 18px;
}
.Nav__Menu__Content__Main {
  border-top: solid 1px white;
}
.Logobrand {
  width: 70px;
  margin: 10px 0;
}
.menu-icons-bar {
  font-size: 40px;
  color: white;
  margin-top: -15px;
}
.Menu-bar {
  display: none;
}

@media (max-width: 1024px) {
  .Logobrand {
    width: 70px;
    margin-top: 10px;
  }
  .Nav__Links {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .Logobrand {
    width: 70px;
    margin-top: 5px;
  }
  .Nav__Links {
    font-size: 15px;
  }
  .Nav__Med {
    padding-top: 20px;
  }
}

@media (max-width: 800px) {
  .Logobrand {
    width: 70px;
  }
  .Nav__Links {
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .Nav__Links {
    display: none;
  }
  .Menu-bar {
    display: block;
  }
}
